body {
  overflow: hidden;
}

#root {
  height: 100%;
  margin: auto 10px;
}

.dcs-main {
  height: 100%;
}

.dcs-header {
  margin: 5px auto;
  height: 10%;
}

.dcs-header .ant-menu-horizontal {
  border: none;
}

.dcs-header .ant-menu-submenu-title {
  padding-left: 0px;
}

.header-menu-title {
  font-size: 1.5em;
}

.header-menu-title img {
  margin: auto 5px;
}

.header-autocomplete {
  margin-top: 6px;
}

.header-otherinfo {
  padding-top: 15px;
  padding-left: 15px !important;
}

.header-scroll-title {
  font-size: 1.3em;
  font-weight: bold;
}

.header-scroll-title img {
  margin-right: 10px;
}

.dcs-center {
  height: 84%;
}

.dcs-footer {
  /*height: 6%;*/
}

.dcs-footer-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-right: 30px;
}

.dcs-footer button {
  margin-right: 15px;
}

.dcs-pselect {

  margin: 5px auto;
  padding: 5px;
  background-color: rgb(220,241,252);
}

.dcs-pselect-title {
  font-size: 1.3em;
}

.dcs-icon-left {
  margin: auto 10px;
}

.dcs-icon-right {
  margin: auto 10px;
}

.dcs-icon-left img {
  width: 16px;
  height: 16px;
  transform: rotate(180deg);
  cursor: pointer;
}

.dcs-icon-right img {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.dcs-icon-disabled img {
  opacity: .2;
  cursor: not-allowed;
}

.dcs-circle {
  margin: auto 20px;
  padding: 1px 6px;
  border-radius: 10px;
  border: solid 1px rgb(16, 142, 233);
  background-color: rgb(16, 142, 233);
  color: white;
}

.dcs-circle-add {
  margin: auto 20px;
  padding: 1px 6px;
  border-radius: 10px;
  border: solid 1px rgb(242, 242, 242);
  background-color: rgb(242, 242, 242);
  color: black;
  cursor: pointer;
}

.dcs-pselect-item {

  margin: auto 10px;
  padding: 5px 5px;
  border-bottom: solid 1px black;
}

.dcs-pselect-item-curr {
  font-weight: bold;
  color: rgb(16, 142, 233);
  border-bottom: solid 2px rgb(16, 142, 233);
}

.dcs-pselect-item-button {
  margin: auto 10px;
  padding: 5px 5px;
}

.dcs-pselect-item-close {
  width: 10px;
  height: 10px;
  cursor: pointer;
  margin-left: 5px;
}

.dcs-pl-table-num {
  font-size: 1.2em;
  margin: auto 5px;
  color: rgb(16, 142, 233);
}

.dcs-pl-table .ant-table-header {
  /*margin-bottom: 0 !important;*/
}

.dcs-col-right {
  text-align: right;
}

.dcs-flight-status span {
  margin: auto 5px;
}

.red {
  color: red;
}

.green {
  color: green;
}

.turquoise {
  color: turquoise;
}

.dcs-squar {
  padding: 2px 4px;
  border: solid 1px rgb(244, 244, 244);
  background-color: rgb(244, 244, 244);
}

.dcs-active {
  border: solid 2px green !important;
}

.dcs-active td {
  border-top: solid 2px green !important;
  border-bottom: solid 2px green !important;
  background-color: rgb(236, 246, 253);
}

.add-passenger-header {
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.confirm-btns {
  margin: 20px 10px 0 auto;
  text-align: right;
}

.confirm-cancel-btn {
  margin-right: 10px;
}

.binding-inf-body {
  width: 80%;
  /*text-align: center;*/
  margin: 10px auto;
}
.binding-btn{
  margin-top: 100px !important;
}
.binding-btn, .unbinding-btn {
  margin: 50px auto;
  text-align: center;
}

.binding-inf-div-title{
  font-size: 1.3em;
  font-weight: bold;
}
.binding-inf-submit-div{

  margin-top: 20px;
  text-align: center;
}

.ant-table-title{
  background-color: rgb(220,241,252);
}

.modify-api-page{
  width: 80%;
  margin: auto;
}

