html,body{width: 100%;height: 100%}
html,body,h1,h2,h3{
	margin: 0;
	padding: 0;
}
body{overflow: hidden;}

.main {
	width: 1000px ;
	margin: 0 auto;
}
.topWrapper {
	width: 100%;
	height: 100px;
	margin-top: 10px;
	display: inline-block;
}

.topHelp {
	height: 40px;
}
.topHelp .title {
	height: 40px;
	font-size: 18px;
	color:#000000;
	font-weight: bold;
	text-align: center ;
	margin-left: 10px ;
}
.topHelp a {
	display: inline-block;
	width: 80px;
	line-height: 40px;
	margin-left: 12px;
	color:#000000;
	font-size: 14px;
}

.topSearch {
	width: 460px;
	height: 40px;
	border: 1px solid #bcbcbc ;
	display: inline-block;
	margin-left: 20px;
}
.topSearch .searchArrow {
	width: 38px;
	height: 100%;
}
.topSearch input {
	width: 360px;
	overflow-x: hidden;
	border: none ;
	height: 100%;
	outline: none;
}
.topSearch a {
	width: 60px;
	height: 100%;
	background-color: #6B6B6B ;
	display: inline-block;
	color: #ffffff;
	float: right;
	margin-left: 0;
	text-align:center;
}

.topWrapper .breadcrumb {
	display: inline-block;
	width: auto;
}
.topNotice {
	line-height: 40px;
	margin-top: 10px;
}
.notificationBox {
	display: inline-block;
	margin-left: 94px;
}

.notificationBox b {
	width: 40px;
	height: 100%;
	font-size: 16px;
	color: #000000;
	display: inline-block;
}

.notificationBox div {
	width: 600px;
	height: 100%;
	display: inline-block;
	position: relative;
}

.notificationBox div span {
	/*-webkit-animation:marquee 4s linear infinite;
	-moz-animation:marquee 4s linear infinite;
	-o-animation:marquee 4s linear infinite;
	animation:marquee 4s linear infinite;*/
}

@-webkit-keyframes marquee{
	0% {left: 0}
	100% {left: 100%}
}
@-moz-keyframes marquee{
	0% {left: 0}
	100% {left: 100%}
}
@-o-keyframes marquee{
	0% {left: 0}
	100% {left: 100%}
}
@keyframes marquee{
	0% {left: 0}
	100% {left: 100%}
}

.bottomWrapper {
	width: 1000px;
	height: 40px;
	position: fixed;
	bottom: 0;
}

.bottomWrapper b {
	width: 40px;
	line-height: 100%;
	color:#000000;
	font-size: 16px;
	display: inline-block;
}

.bottomWrapper .botmMenu {
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 15px;
}

.container {
	width: 100%;
}

.flightlist {
	width: 100%;
	
}
.flightlist .row {
	height: 40px;
	border-top: 1px solid #EBEBEB ;
	border-left:  1px solid #EBEBEB ;
	border-right:  1px solid #EBEBEB ;
}
.flightlist .row:hover{
	background-color: #EEFFEE ;
}
.flightlist .rowTitle:first-child{
	background-color: #F4F4F4 ;
	font-size: 14px;
	color: #000000;
	font-weight: bold;
}

.flightlist .row:last-child {
	border-bottom:  1px solid #EBEBEB ;
}

.flightlist .row .col{
	line-height: 40px;
	border-right: 1px solid #EBEBEB ;
	text-align: center;
	color: #666666;
	font-size: 14px;
}
.flightlist .row .col:last-child{
	border-right:none;
}

.flightListBox {
	overflow-y: auto;
}
.imgIcon {
	width: 16px;
	padding-bottom: 5px;
	margin-right: 10px;
}

/** 航班tab **/
.flightTabWrapper {
	width: 100%;
	height: 40px;
	display: inline-block;
}
.flightTabWrapper span {
	line-height: 40px;
	display: inline-block;
}
.flightTab {
	display: inline-block;
	line-height: 40px;
	width: 870px;
}
.flightTab img:first-child {
	margin-left: 10px ;
	transform:rotate(180deg);
}
.flightTab img:last-child {
	margin-left: 10px;
}

.fligtMenu {
	height: 100%;
	display: inline-block;
}
.fligtMenu a {
	display: inline-block;
	padding-left: 12px ;
	padding-right: 10px ;
	font-size: 14px;
	color:#989898;
	line-height: 39px;
	border-bottom: 1px solid #EBEBEB ;
}
.closeCircleO {
	margin-left: 10px ;
}
.fligtMenu a:hover {
	color:#108EE9;
	border-bottom: 2px solid #108EE9;
	line-height: 37px;
}

.flightStatusBar {
	width: 100%;
	display: inline-block;
	border-bottom: 1px solid #EBEBEB ;
}
.flightStatusBar .expandArrow {
	width:16px ;
	margin-top:12px ;
	float:right;
}
.flightStatusBar .expandArrow:hover {
	cursor: pointer;
}

.flightStatusBar span {
	display: inline-block;
	line-height: 40px;
	color:'#BCBCBC';
}
.flightStatus {
	display: inline-block;
}
.flightStatusContent {
	margin-left: 10px;
	display: inline-block;
}
.collapseRow {
	line-height: 40px;
}
.oprationPBtn {
	margin-left: 10px;
	background-color: #F3F3F3 ;
	color:#666666;
}



.flightList {
	margin-top: 10px;
}
.flightRow {
	text-align: center;
	line-height: 40px;
	border-top: 1px solid #EBEBEB ;
	border-left: 1px solid #EBEBEB ;
	border-right: 1px solid #EBEBEB ;
}

.listTitle {
	background-color: #F4F4F4 ;
	color:#666666;
	font-size: 13px;
	font-weight: bold;
	border-bottom: none ;
	padding-right: 17px;
}

.flightRow:last-child{
	border-bottom: 1px solid #EBEBEB ;
}

.flightRow div {
	height: 40px;
	text-align: center;
	color:#6B6B6B;
	border-right: 1px solid #EBEBEB ;
}
.flightRow div:last-child {
	border-right: none ;
}


.itemExpandIcon:hover {
	cursor: pointer;
}

.flightListTitle {
	height: 40px;
	background-color: #E6F3FC ;
	border-top: 1px solid #EBEBEB;
	border-left: 1px solid #EBEBEB;
	border-right: 1px solid #EBEBEB;
	padding-left: 10px;
}
.flightListTitle span {
	display: inline-block;
	line-height: 38px ;
	color:#6B6B6B;
}
.fligtsContent {
	overflow: auto;
}
.fligtsContent div:hover {
	background-color: #EEFFEE ;
}
.flightDetailRow {
	border-top: 1px solid #EBEBEB;
	padding-top: 5px;
}
.flightDetailRow div {
	line-height: 30px;
}
.rowLabel{
	text-align: right;
}

